# =======================================================================
#  Elastic Beanstalk – Apache Configuration
# =======================================================================

files:
  "/etc/httpd/conf.d/01-proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      LoadModule proxy_module modules/mod_proxy.so
      LoadModule proxy_http_module modules/mod_proxy_http.so
      LoadModule proxy_connect_module modules/mod_proxy_connect.so

container_commands:
  01_reload_apache:
    command: "service httpd reload"
    leader_only: true 