container_commands:
  01_migrate:
    command: "java -jar application.jar --spring.datasource.url=jdbc:postgresql://${RDS_HOSTNAME}:${RDS_PORT}/${RDS_DB_NAME} --spring.datasource.username=${RDS_USERNAME} --spring.datasource.password=${RDS_PASSWORD} --spring.profiles.active=prod --spring.jpa.hibernate.ddl-auto=update"
    leader_only: true
